<tashlin>
  <globalSettings>
  	<mavenHome>D:/DEV/maven/bin</mavenHome>
  </globalSettings>
  <jobs class="linked-hash-map">
    <entry>
      <string>tashlin-build</string>
      <job>
      	<key>tashlin-build</key>
        <name>tashlin-build</name>
        <cronSchedule>0 * * * *</cronSchedule>
      </job>
    </entry>
    <entry>
      <string>tashlin-integration</string>
      <job>
        <key>tashlin-integration</key>
        <name>tashlin-integration</name>
        <cronSchedule>0 * * * *</cronSchedule>
      </job>
    </entry>
  </jobs>
</tashlin>